<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .content {
      height: 500px;
      background-color: #ff8198;

      /*overflow-y: scroll;*/
    }
  </style>
</head>
<body>
<div class="content">
  <ul>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
  </ul>
</div>

<script src="better-scroll.js"></script>
<script>
  const bs = new BScroll(document.querySelector('.content'))
</script>
</body>
</html>
