<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    .content {
      height: 500px;
      background-color: #ff8198;

      overflow: hidden;
    }
  </style>
</head>
<body>
<div class="content">
  <div><ul>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>11</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>22</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>33</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>44</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
    <li>5</li>
  </ul></div>

</div>

<script src="core.js"></script>
<script>
  const bs = new BScroll(document.querySelector('.content'),{
    probeType:3
  })

  bs.on('scroll', function(position){
    console.log(position)
  })
</script>
</body>
</html>
